* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  color: #555;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */

.row {
  max-width: 1140px;
  margin: 0 auto;
}
section {
  padding: 80px 0;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 200%;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}

h2 {
  margin-top: 0;
  margin-bottom: 30px;
  color: #000000;
  font-size: 180%;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 2px;
}

h2:after {
  display: block;
  background-color: black;
  height: 2px;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

li {
  list-style: none;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 200px;
  font-weight: 300;
  text-transform: uppercase;
}

.btn-full:link,
.btn-full:visited {
  background-color: #fff;
  border: 1px solid #fff;
  color: black;
  margin-right: 10px;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
}

.btn-full:hover,
.btn-full:active {
  background-color: #555;
  border: 1px solid #555;
  color: #fff;
}

.btn-ghost:link,
.btn-ghost:visited {
  color: #fff;
  border: 1px solid #fff;
  transition: border 0.2s, background-color 0.2s, color 0.2s;
}

.btn-ghost:hover,
.btn-ghost:active {
  background-color: #fff;
  color: black;
  border: 1px solid #fff;
}
/* ----------------------------------------------- */
/* HEro section */
/* ----------------------------------------------- */

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./img/hero.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-attachment: fixed;
}

.hero-comp {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 55%;
}

/* ----------------------------------------------- */
/* Navbar section */
/* ----------------------------------------------- */

.logo {
  float: left;
  height: 100px;
  width: auto;
  background-color: #555;
  border-radius: 50%;
  margin-top: 25px;
}
.nav-link {
  float: right;
}

.nav-link ul li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 55px;
}

.nav-link ul li a:link,
.nav-link ul li a:visited {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 90%;
  padding-bottom: 10px;
  /* border-bottom: 2px solid transparent; */
}

/* .nav-link ul li a:hover,
.nav-link ul li a:active {
  border-bottom: 2px solid #ffffff; 
} 
*/

.nav-link ul li a:after {
  margin-top: 5px;
  transition: all ease-in-out 0.2s;
  background: none repeat scroll 0 0 #ffffff;
  content: "";
  display: block;
  height: 2px;
  width: 0;
}

.nav-link ul li a:hover:after,
.nav-link ul li a:active:after {
  width: 100%;
}

/* Song section */
.magical {
  background-color: #eeeeee;
}
.box {
  width: 90%;
  height: auto;
  display: inline-block;
  float: left;
  background-color: #ffffff;
  margin-left: 5%;
  border-radius: 5%;
  box-shadow: 0 2px 2px #555;
}

.box img {
  max-width: 100%;
  height: 250px;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.box ul li {
  list-style: none;
}
.box ul li a:link,
.box ul li a:visited {
  text-decoration: none;
  color: #000000;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  transition: font-weight 0.2s;
}

.box ul li a:hover,
.box ul li a:active {
  font-weight: 400;
}
.pera p {
  padding: 15px;
  text-transform: uppercase;
  font-size: 120%;
  text-align: center;
  border-top: 1px solid #e4e3e3;
  border-bottom: 1px solid #e4e3e3;
}
.pera ul {
  padding: 20px;
}

.pic {
  list-style: none;
  width: 100%;
}
.pic li {
  display: block;
  width: 25%;
  float: left;
}
.pic-pic {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000000;
}
.pic-pic img {
  opacity: 0.5;
  width: 100%;
  height: 200px;
  transform: scale(1.19);
  transition: transform 0.5s, opacity 0.5s;
}
pic-section {
  padding: 0;
}
.pic-pic img:hover {
  transform: scale(1.12);
  opacity: 1;
}

.city-section {
  background-color: #eeeeee;
}

.box2 {
  width: 22.5%;
  height: auto;
  display: inline-block;
  float: left;
  background-color: #ffffff;
  margin-right: 25px;
  border-radius: 5%;
  box-shadow: 0 2px 2px #555;
  text-align: center;
  padding-bottom: 30px;
}
.box2 img {
  max-width: 100%;
  height: 250px;

  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}
.box2 ul {
  padding-top: 10px;
}
.box2 ul li {
  list-style: none;
  line-height: 120%;
  letter-spacing: 1%;
  word-spacing: 4px;
  font-weight: 400;
}
